<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit File</title>
</head>
<body>
    <h1>Edit Tasks</h1>
    <h2>Task id: <%= post.id %></h2>
    <h2>Task timestamp : <%= post.username %></h2>
    <form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" > <%= post.content %></textarea> <br> <hr>
        <button>Submit</button>
      </form>
    
</body>
</html>