<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Task</title>
</head>
<body>

    <h2>Add a new Task: </h2>

    <form method="post", action="/posts/new">

        <input type="text", placeholder="enter timestamp..", name="username"> <br> <br>
        <textarea name="content", placeholder="Add new task."></textarea> <br>
        <button>Submit</button>

    </form>
    
</body>
</html>